.menubar-top {
  height: 80px;
}
div.logo {
  font-size: 60px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .menubar-top {
    height: 60px;
  }
}

@media only screen and (max-width: 767px) {
  .menubar-top {
    height: 130px;
  }
}

@media only screen and (max-width: 575px) {
  .menubar-top {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 479px) {
  .menubar-top {
    height: 180px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-contact {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .header-contact {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .header-contact {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 479px) {
  .header-contact {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.header-contact .phone-icon {
  margin-right: 20px;
}

.header-contact .phone-number {
  line-height: 14px;
}

.header-contact .phone-number span.number {
  display: block;
  padding-top: 10px;
}

/* header advance search */
.header-advance-search {
  position: relative;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  background-color: #ffffff;
  height: 50px;
  border: 1px solid #e4e4e4;
  padding-right: 55px;
  border-radius: 50px;
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .header-advance-search {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-advance-search {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%;
  }
}

@media only screen and (max-width: 479px) {
  .header-advance-search {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 15px;
  }
}

.header-advance-search input {
  border: none;
  width: 95%;
  margin-top: 12px;
  margin-left: 15px;
  color: #a4a4a4;
}

.header-advance-search button {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
  background-color: red;
  color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.phone-icon {
  font-size: 2rem;
}
.header-advance-search button:hover {
  background-color: #903749;
}

.shopping-cart .cart-icon {
  margin-right: 10px;
}
.shopping-cart .cart-icon span:hover {
  color: #e84545;
}
.shopping-cart .cart-info p:hover {
  color: #80bb01;
}
.shopping-cart .cart-icon span {
  font-size: 40px;
}

.shopping-cart .cart-info a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  color: #53354a;
}

.shopping-cart .cart-info p {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  color: #000;
}

.shopping-cart .cart-info span {
  display: block;
}

.shopping-cart .cart-info span span {
  display: inline-block;
}

.cart-floating-box {
  position: absolute;
  z-index: 999999;
  right: 0;
  width: 360px;
  background-color: #ffffff;
  padding: 20px;
}
.floating-cart-btn a {
  background: #fff;
  border: 2px solid #e0e0e0;
  color: #323232;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 47px;
  line-height: 43px;
  margin: 0 4px;
  min-width: 130px;
  padding: 0 15px;
  text-align: center;
  text-transform: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.floating-cart-btn a:hover {
  background: #2b2e4a;
  border-color: #80bb01;
  color: #fff;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cart-floating-box {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .cart-floating-box {
    display: none;
  }
}

@media only screen and (max-width: 575px) {
  .cart-floating-box {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  .cart-floating-box {
    display: none;
  }
}

#cart-floating-box .cart-items {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

#cart-floating-box .cart-float-single-item {
  position: relative;
  margin-bottom: 20px;
}

#cart-floating-box .cart-float-single-item span.remove-item {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
}

#cart-floating-box .cart-float-single-item .cart-float-single-item-image {
  width: 25%;
  margin-right: 10px;
}

#cart-floating-box .cart-float-single-item .cart-float-single-item-image img {
  display: inline-block;
  border: 1px solid #ddd;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.cart-float-single-item .cart-float-single-item-image img:hover {
  border: 1px solid #80bb01;
}

.cart-float-single-item .cart-float-single-item-desc p {
  margin-bottom: 5px;
}
.cart-float-single-item .cart-float-single-item-desc p.product-title {
  font-weight: 500;
  color: #333;
}
.cart-float-single-item .cart-float-single-item-desc p.product-title:hover {
  color: #80bb01;
}

.cart-floating-box .cart-calculation .calculation-details {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.cart-floating-box .cart-calculation .calculation-details p {
  font-weight: 500;
  color: #333;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.cart-floating-box .cart-calculation .calculation-details p span {
  float: right;
}

.cart-floating-box .cart-calculation .calculation-details p.shipping {
  border-bottom: 1px solid #333;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.cart-floating-box .cart-calculation .checkout-button a {
  background-color: #333;
  color: #fff;
  padding: 10px 15px;
  display: inline-block;
  margin-top: 25px;
  margin-left: 25px;
  font-weight: 500;
  border-radius: 3px;
}

.cart-floating-box .cart-calculation .checkout-button a:hover {
  background-color: #80bb01;
}

.home-other-navigation-menu {
  background-color: #000;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home-other-navigation-menu {
    background-color: #ffffff;
  }
}

@media only screen and (max-width: 767px) {
  .home-other-navigation-menu {
    background-color: #ffffff;
  }
}

.home-other-navigation-menu .main-menu > nav > ul > li > a {
  color: #ffffff;
}

.home-other-navigation-menu .main-menu > nav > ul > li > a:hover {
  color: #80bb01;
}

.main-menu nav > ul > li {
  display: block;
  float: left;
  margin-right: 40px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.main-menu nav > ul > li:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .main-menu nav > ul > li {
    margin-right: 30px;
  }
}

.main-menu nav > ul > li.menu-item-has-children > a::after {
  font-family: Fontawesome;
  content: "+";
  margin-left: 5px;
  float: right;
}

.main-menu nav > ul > li.active > a,
.main-menu nav > ul > li:hover > a {
  color: #80bb01;
}

.main-menu nav > ul > li:hover > .sub-menu,
.main-menu nav > ul > li:hover > .mega-menu {
  -webkit-transform: perspective(600px) rotateX(0deg);
  transform: perspective(600px) rotateX(0deg);
  opacity: 1;
  visibility: visible;
  margin-top: 0;
  z-index: 999;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-menu nav > ul > li:hover > .sub-menu,
  .main-menu nav > ul > li:hover > .mega-menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.header-bottom {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-bottom-other .logo {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .header-bottom-other .logo {
    position: relative;
    top: 0;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-sticky.is-sticky .main-menu nav ul.sub-menu {
    left: -190px;
  }
}

@media only screen and (max-width: 767px) {
  .logo {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .logo img {
    width: 209px;
    margin-top: -66px;
  }
}

@media only screen and (max-width: 479px) {
  .logo img {
    width: 70px;
  }
}

/* sub menu */
.sub-menu {
  position: absolute;
  left: -20px;
  top: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  z-index: -999;
  width: 250px;
  padding: 15px 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: perspective(600px) rotateX(-90deg);
  transform: perspective(600px) rotateX(-90deg);
  -webkit-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  transform-origin: center top 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sub-menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 767px) {
  .sub-menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 575px) {
  .sub-menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 479px) {
  .sub-menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.sub-menu li {
  position: relative;
}

.sub-menu li a {
  line-height: 24px;
  padding: 6px 20px;
  display: block;
  font-weight: 400;
  color: #111111;
  text-transform: capitalize;
}

.sub-menu li.active > a,
.sub-menu li:hover > a {
  color: #903749;
  font-weight: 400;
}

.sub-menu li:hover > .sub-menu {
  -webkit-transform: perspective(600px) rotateX(0deg);
  transform: perspective(600px) rotateX(0deg);
  -webkit-transform-origin: center top 0;
  -ms-transform-origin: center top 0;
  transform-origin: center top 0;
  opacity: 1;
  visibility: visible;
  margin-top: 0;
  z-index: 999;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sub-menu li:hover > .sub-menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 767px) {
  .sub-menu li:hover > .sub-menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 575px) {
  .sub-menu li:hover > .sub-menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 479px) {
  .sub-menu li:hover > .sub-menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .sub-menu .sub-menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 767px) {
  .sub-menu .sub-menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 575px) {
  .sub-menu .sub-menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 479px) {
  .sub-menu .sub-menu {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.sub-menu .sub-menu .sub-menu {
  left: auto;
  right: 100%;
}

.sub-menu .sub-menu .sub-menu .sub-menu {
  left: 100%;
  right: auto;
}

.sub-menu .sub-menu .sub-menu .sub-menu {
  left: auto;
  right: 100%;
}

nav a:link {
  text-decoration: none;
}

.unknown {
  height: 50px;
  background-color: white;
}

.logo a span {
  font-size: 4rem;
  text-decoration: none;
}

.cart-floting-box {
  display: none;
  height: 539px;
  padding-top: 20px;
  margin-top: 0px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  border: 2px solid red;
}
.cart-floating-box .cart-float-single-item .cart-float-single-item-image {
  width: 25%;
  margin-right: 10px;
}
.cart-floating-box .cart-float-single-item {
  position: relative;
  margin-bottom: 20px;
}
.cart-floating-box .cart-float-single-item {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #2b2e4a;
}
.cart-floating-box .cart-float-single-item span.remove-item {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
}
.cart-floating-box .cart-float-single-item .cart-float-single-item-image {
  width: 25%;
  margin-right: 10px;
}
.cart-floating-box .cart-float-single-item .cart-float-single-item-desc p {
  margin-bottom: 5px;
}
span.count {
  font-weight: 700px;
}
#navbar-1 {
  text-transform: uppercase;
  font-size: 700;
  font-size: 15px;
}
#navbar-2 {
  text-transform: uppercase;
  font-size: 700;
  font-size: 15px;
  height: 50px;
  transition: 0.3s;
}
