.cart-box-main {
    padding: 70px 0px;
    font-weight: 400;
    background-color:#f2f2f2;
}

#cart .table-main table thead {
    background: #d33b33;
    color: #ffffff;
}

#cart .table-main .table thead th {
    font-size: 18px;
}

#cart .table-main table td.thumbnail-img {
    width: 120px;
}

#cart .table-main table td {
    vertical-align: middle;
    font-size: 16px;
}

#cart .quantity-box input {
    width: 60px;
    border: 2px solid #010101;
    text-align: center;
}

#cart .quantity-box input:focus {
    border-color: #d33b33;
}

#cart .name-pr a {
    font-weight: 700;
    font-size: 18px;
    color: #010101;

}

#cart .remove-pr {
    text-align: center;

}

.coupon-box .input-group .form-control {
    min-height: 50px;
    border-radius: 0px;
    font-weight: 400;
    border: 1px solid #e8e8e8;
    box-shadow: none !important;
}

.coupon-box .input-group .form-control::-moz-placeholder {
    color: #010101;
}

.coupon-box .input-group .input-group-append .btn-theme {
    background: #010101;
    color: #ffffff;
    border: none;
    border-radius: 0px;
    font-size: 16px;
    padding: 0px 20px;
}

.coupon-box .input-group .input-group-append .btn-theme:hover {
    background: #d33b33;
}

.quantity-box button {
    background-color:#1234;
 
}
.quantity-box{
    text-align: center;
}
.order-box h3 {
    font-size: 16px;
    color: #222222;
    font-weight: 400;
}

.order-box h4 {
    font-size: 16px;
    padding: 0px;
    line-height: 35px !important;
}

.order-box .font-weight-bold {
    font-size: 18px;
}

.gr-total h5 {
    font-weight: 700;
    color: #d33b33;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    line-height: 35px !important;
}
i.btn{
    color: green;
    padding: 1px;
    border: 1px solid #987879;
    margin-top: 5px;
    margin-bottom: 5px;

}
i.icon-trash:hover{
    color: red;
}
i.btn:hover{
    color: red;
    padding: 1px;

}
.gr-total .h5 {
    margin: 0px;
    font-weight: 400;
    line-height: 35px;
}

.my-account-box-main {
    padding: 70px 0px;
    font-weight: 400;
}

.shopping-box a {
    font-size: 18px;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
}

.hvr-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #d33b33;
    color: #fff;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    border-radius: 0;
    box-shadow: none;
}

.hvr-hover::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    background: #010101;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-hover:hover::after {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    color: #ffffff;
}

.hvr-hover:hover {
    color: #fff;

}

ul.cart-list>li.total>.btn:hover {
    color: #ffffff;
}
.quantity-box2{
    background-color:#fff;
    text-align: center;
    
}
