 .cart-box-main{
     padding: 70px 0px;
}
 .table-main table thead{
     background: #d33b33;
     color: #ffffff;
}
 .table-main .table thead th{
     font-size: 18px;
}
 .table-main table td.thumbnail-img{
     width: 120px;
}
 .table-main table td{
     vertical-align: middle;
     font-size: 16px;
}
 .quantity-box input{
     width: 60px;
     border: 2px solid #010101;
     text-align: center;
}
 .quantity-box input:focus{
     border-color: #d33b33;
}
 .name-pr a{
     font-weight: 700;
     font-size: 18px;
     color: #010101;
}
 .remove-pr{
     text-align: center;
}
 .coupon-box .input-group .form-control {
     min-height: 50px;
     border-radius: 0px;
     font-weight: 400;
     border: 1px solid #e8e8e8;
     box-shadow: none !important;
}
 .coupon-box .input-group .form-control::-moz-placeholder{
     color: #010101;
}
 .coupon-box .input-group .input-group-append .btn-theme {
     background: #010101;
     color: #ffffff;
     border: none;
     border-radius: 0px;
     font-size: 16px;
     padding: 0px 20px;
}
 .coupon-box .input-group .input-group-append .btn-theme:hover {
     background: #d33b33;
}
 .update-box input[type="submit"]{
     background: #010101;
     border: medium none;
     border-radius: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
     color: #fff;
     display: inline-block;
     float: right;
     cursor: pointer;
     font-size: 16px;
     font-weight: 500;
     height: 50px;
     line-height: 40px;
     margin-right: 15px;
     padding: 0 20px;
     text-shadow: none;
     text-transform: uppercase;
     -webkit-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     white-space: nowrap;
     width: inherit;
}
 .update-box input[type="submit"]:hover{
     background: #d33b33;
}
 .order-box h3{
     font-size: 16px;
     color: #222222;
     font-weight: 700;
}
 .order-box h4 {
     font-size: 16px;
     padding: 0px;
     line-height: 35px !important;
}
 .order-box .font-weight-bold{
     font-size: 18px;
}
 .gr-total h5 {
     font-weight: 700;
     color: #d33b33;
     font-size: 18px;
     margin: 0px;
     padding: 0px;
     line-height: 35px !important;
}
 .gr-total .h5{
     margin: 0px;
     font-weight: 700;
     line-height: 35px;
}
 .my-account-box-main{
     padding: 70px 0px;
}
 .shopping-box a{
     font-size: 18px;
     color: #ffffff;
     border: none;
     padding: 10px 20px;
}
 .payment-icon {
     display: inline-block;
     padding: 10px 0px;
}
 .payment-icon ul li {
     width: 20%;
     float: left;
}
 .needs-validation label {
     font-size: 16px;
     margin-bottom: 0px;
     line-height: 24px;
}
 .needs-validation .form-control {
     min-height: 40px;
     border-radius: 0px;
     border: 1px solid #e8e8e8;
     box-shadow: none !important;
     font-size: 14px;
}
 .needs-validation .form-control:focus {
     border: 1px solid #d33b33 !important;
}
 .review-form-box .form-control{
     min-height: 40px;
     border-radius: 0px;
     border: 1px solid #e8e8e8;
     box-shadow: none !important;
     font-size: 14px;
}
 .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
     background-color: #d33b33;
     box-shadow: none;
}
 .custom-radio .custom-control-input:checked ~ .custom-control-label::before {
     background-color: #d33b33;
     box-shadow: none;
}
 .new-account-login h5 {
     font-size: 18px;
     color: #1111111;
     font-weight: 600;
}
 .new-account-login h5 a:hover{
     color: #d33b33;
}
 .review-form-box button{
     padding: 10px 20px;
     color: #ffffff;
     font-size: 18px;
     border: none;
}
 .wide.w-100{
     min-height: 40px;
     border: 1px solid #e8e8e8;
}
 .wide.w-100 option{
     min-height: 40px;
}
 .custom-control-input:focus ~ .custom-control-label::before{
     box-shadow: none;
}
 .odr-box a {
     font-size: 18px;
     color: #111111;
     font-weight: 700;
}
 .account-box{
     text-align: center;
     background: #ffffff;
     padding: 30px;
     border: 1px solid #010101;
}
 .bottom-box {
     border-top: 1px solid #eee;
     margin-bottom: 30px;
     margin-top: 30px;
     padding-top: 15px;
}
 .bottom-box .account-box {
     min-height: 205px;
}
 .account-box {
     border: 2px solid #010101;
     margin-top: 15px;
}
 .my-account-page a{
     color: #010101;
}
 .my-account-page a:hover{
     color: #d33b33;
}
 .service-icon i{
     font-size: 34px;
}
 .my-account-page a:hover i{
}
 .service-desc p{
     font-size: 16px;
}
 .service-desc h4{
     text-decoration: underline;
     font-size: 18px;
     font-weight: 700;
}
 .service-icon a{
     background: rgba(0, 53, 68, 0.9);
     -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
     -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
     transition: transform ease-out 0.1s, background 0.2s;
}
 .service-icon a{
     display: inline-block;
     font-size: 0px;
     cursor: pointer;
     margin: 15px 0px;
     width: 90px;
     height: 90px;
     line-height: 110px;
     border-radius: 50%;
     text-align: center;
     position: relative;
     z-index: 1;
     color: #ffffff;
}
 .service-icon a::after {
     pointer-events: none;
     position: absolute;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     content: '';
     -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
     box-sizing: content-box;
     content: "";
     top: 0;
     left: 0;
     padding: 0;
     z-index: -1;
     box-shadow: 0 0 0 2px rgba(255,255,255,0.1);
     opacity: 0;
     -webkit-transform: scale(0.9);
     -moz-transform: scale(0.9);
     -ms-transform: scale(0.9);
     transform: scale(0.9);
}
 .service-icon a:hover::after{
     -webkit-animation: sonarEffect 1.3s ease-out 75ms;
     -moz-animation: sonarEffect 1.3s ease-out 75ms;
     animation: sonarEffect 1.3s ease-out 75ms;
}
 .service-icon a:hover{
     background: rgba(251, 183, 20, 1);
     -webkit-transform: scale(0.93);
     -moz-transform: scale(0.93);
     -ms-transform: scale(0.93);
     transform: scale(0.93);
     color: #fff;
}
 @-webkit-keyframes sonarEffect {
     0% {
         opacity: 0.3;
    }
     40% {
         opacity: 0.5;
         box-shadow: 0 0 0 2px rgba(0, 53, 68, 0.1), 0 0 10px 10px #d33b33, 0 0 0 10px rgba(0, 53, 68, 0.5);
    }
     100% {
         box-shadow: 0 0 0 2px rgba(0, 53, 68, 0.1), 0 0 10px 10px #d33b33, 0 0 0 10px rgba(0, 53, 68, 0.5);
         -webkit-transform: scale(1.5);
         opacity: 0;
    }
}
 @-moz-keyframes sonarEffect {
     0% {
         opacity: 0.3;
    }
     40% {
         opacity: 0.5;
         box-shadow: 0 0 0 2px rgba(0, 53, 68, 0.1), 0 0 10px 10px #d33b33, 0 0 0 10px rgba(0, 53, 68, 0.5);
    }
     100% {
         box-shadow: 0 0 0 2px rgba(0, 53, 68, 0.1), 0 0 10px 10px #d33b33, 0 0 0 10px rgba(0, 53, 68, 0.5);
         -moz-transform: scale(1.5);
         opacity: 0;
    }
}
 @keyframes sonarEffect {
     0% {
         opacity: 0.3;
    }
     40% {
         opacity: 0.5;
         box-shadow: 0 0 0 2px rgba(0, 53, 68, 0.1), 0 0 10px 10px #d33b33, 0 0 0 10px rgba(0, 53, 68, 0.5);
    }
     100% {
         box-shadow: 0 0 0 2px rgba(0, 53, 68, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(0, 53, 68, 0.5);
         transform: scale(1.5);
         opacity: 0;
    }
}
 .add-pr a{
     padding: 10px 20px;
     font-weight: 700;
     color: #ffffff;
     border: none;
}
 .wishlist-box-main{
     padding: 70px 0px;
}
 .services-box-main{
     padding: 70px 0px;
}
 .contact-box-main{
     padding: 70px 0px;
}
 .contact-info-left{
     padding: 20px;
     background: rgba(0, 53, 68, 0.1);
}
 .contact-info-left h2{
     font-size: 22px;
     font-weight: 700;
}
 .contact-info-left p{
     margin-bottom: 15px;
}
 .contact-info-left ul li{
     margin-bottom: 12px;
}
 .contact-info-left ul li p{
     font-size: 16px;
     color: #222222;
     font-weight: 300;
     padding-right: 16px;
     padding-left: 25px;
     line-height: 24px;
     position: relative;
}
 .contact-info-left ul li p i{
     position: absolute;
     left: 0;
     top: 5px;
     padding-right: 6px;
     color: #d33b33;
}
 .contact-info-left ul li p a:hover{
     color: #d33b33;
}
 .contact-form-right{
     padding: 20px;
}
 .contact-form-right h2{
     font-size: 24px;
     font-weight: 700;
}
 .contact-form-right p{
     margin-bottom: 15px;
}
 .contact-form-right .form-group .form-control::-moz-placeholder{
     color: #999999;
}
 .contact-form-right .form-group .form-control{
     border-radius: 0px;
     min-height: 40px;
}
 .contact-form-right .form-group {
     margin-bottom: 30px;
     position: relative;
}
 .contact-form-right .form-group .form-control:focus{
     border: 1px solid #d33b33;
     box-shadow: none;
}
 .submit-button button{
     padding: 10px 20px;
     font-weight: 700;
     color: #ffffff;
     border: none;
}
.cart-box-main h3{
    color:#000;
}
.login-form {
  background-color: #ffffff;
  padding: 30px;
  -webkit-box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.1); }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .login-form {
      padding: 15px; } }
  .login-form label {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 500;
    text-transform: capitalize; }
  .login-form .nice-select {
    width: 100%;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 50px;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    height: 45px;
    color: #666666;
    margin-bottom: 15px; }
    .login-form .nice-select::after {
      width: 6px;
      height: 6px;
      border-width: 1px;
      right: 20px;
      border-color: #666666; }
    .login-form .nice-select .current {
      color: #666666;
      display: block;
      line-height: 23px; }
    .login-form .nice-select .list {
      width: 100%; }
  .login-form input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #999999;
    border-radius: 50px;
    line-height: 23px;
    padding: 10px 20px;
    font-size: 14px;
    color: #666666;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-bottom: 10px; }
    .login-form input[type="checkbox"] {
      width: auto; }
  .login-form .check-box {
    float: left;
    margin-right: 70px; }
    .login-form .check-box:last-child {
      margin-right: 0; }
    .login-form .check-box input[type="checkbox"] {
      display: none; }
      .login-form .check-box input[type="checkbox"] + label {
        position: relative;
        padding-left: 30px;
        line-height: 20px;
        font-size: 14px;
        font-weight: 400;
        color: #222222;
        margin: 0; }
        .login-form .check-box input[type="checkbox"] + label::before {
          position: absolute;
          left: 0;
          top: 0;
          width: 20px;
          height: 20px;
          display: block;
          border: 2px solid #999999;
          content: "";
          -webkit-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
        .login-form .check-box input[type="checkbox"] + label::after {
          position: absolute;
          left: 0;
          top: 0;
          display: block;
          content: "\f00c";
          font-family: Fontawesome;
          font-size: 12px;
          line-height: 20px;
          opacity: 0;
          color: #222222;
          width: 20px;
          text-align: center;
          -webkit-transition: all 0.3s ease 0s;
          -o-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s; }
      .login-form .check-box input[type="checkbox"]:checked + label::before {
        border: 2px solid #222222; }
      .login-form .check-box input[type="checkbox"]:checked + label::after {
        opacity: 1; }