


#Search .swiper-button-prev {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  top: 80%;
  color: white;
  border-radius: 50%;
  left: 5%;
}
#Search .swiper-button-next {
  width: 70px;
  height: 70px;
  line-height: 70px;
  top: 80%;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  color: white;
  border-radius: 50%;
  right: 5%;
}
#Searchr .swiper-button-prev:hover,
#Search .swiper-button-next:hover {
  background: #111;
  transition: 1s;
}
#not-found{

  height:49vh;
}
#Search h2{
  padding-top:40px;
  padding-bottom: 20px ;
}