 .shop-detail-box-main{
     padding: 70px 0px;
}
 .single-product-slider .carousel-control-prev {
     bottom: auto;
     background: #111111;
     width: 6%;
     padding: 10px 0;
     background-image: none;
     top: 40%;
}
 .single-product-slider .carousel-control-next {
     bottom: auto;
     background: #111111;
     width: 6%;
     padding: 10px 0;
     background-image: none;
     top: 40%;
}
 .single-product-slider .carousel-indicators li img {
     opacity: 0.5;
}
 .single-product-slider .carousel-indicators li.active img {
     opacity: 1;
}
 .carousel-indicators{
     position: relative;
     bottom: 0;
     background: #010101;
}
 .carousel-indicators li{
     width: 30%;
     height: 100%;
     cursor: pointer;
}
 .single-product-details h2{
     color: #010101;
     font-weight: 700;
     font-size: 24px;
}
 .single-product-details h5 {
     color: #d33b33;
     font-weight: 700;
     font-size: 18px;
}
 .single-product-details h5 del {
     font-size: 13px;
     color: #666;
}
 .available-stock span {
     font-size: 15px;
}
 .available-stock span a {
     color: #d33b33;
}
 .single-product-details h4{
     font-size: 18px;
     font-weight: 700;
     margin-top: 20px;
}
 .single-product-details p{
     font-size: 16px;
     margin-bottom: 20px;
}
 .single-product-details ul{
     display: inline-block;
     width: 100%;
     border: 1px #010101 dashed;
     margin-bottom: 30px;
}
 .single-product-details ul li{
     width: 50%;
     float: left;
     padding: 0px 15px;
}
 .size-st .bootstrap-select > .dropdown-toggle.btn-light{
     background: #010101;
     border: none;
     border-radius: 0px;
     color: #ffffff;
}
 .quantity-box input{
     width: 100%;
}
 .price-box-bar{
     margin-bottom: 30px;
     
}
 .price-box-bar a{
     padding: 10px 20px;
     font-weight: 700;
     color: #ffffff;
     border: none;
}
 .add-to-btn .add-comp {
     float: left;
}
 .add-to-btn .share-bar {
     float: right;
}
 .add-comp a{
     padding: 10px 20px;
     font-weight: 700;
     color: #ffffff;
     border: none;
}
.cart-and-bay-btn a{
     margin-left: 30px;


}
 .share-bar{
}
 .share-bar a {
     background: #d33b33;
     color: #ffffff;
     padding: 5px 10px;
     display: inline-block;
     width: 34px;
     text-align: center;
}
ul.shop-item{
     background:#f2f2f2;
     padding:10px;
     border:0;
}
div.add-comp a{
     margin-left:100px;
}
hr{
     color:#012;
}
.title-left{
     font-size: 16px;
     border-bottom: 3px solid #010101;
     margin-bottom: 20px;
}
 .title-left h3{
     font-weight: 700;
}